$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.btn-go {
  height: 34px;
}

.panel {
  margin-bottom: 10px;
  padding: 10px;
}

.italic {
  font-style: italic;
}